version: "3"

# note:
# circleci only provide remote docker environment
# thus all local volumes are unavaliable
#
# See:
# https://circleci.com/docs/2.0/building-docker-images/#mounting-folders
#
services:
  mongodb:
    image: "mongo:3.6.11"
    network_mode: "host"
    restart: "always"
    command: "--storageEngine wiredTiger --bind_ip 127.0.0.1 --port 27017"
    labels:
      - "role=mongodb"

  master:
    image: "bbklab/adbot-master:latest"
    network_mode: "host"
    restart: "always"
    labels:
      - "role=master"
    environment:
      - IN_CONTAINER=yes
      - IN_DEVELOPING=true
      - LISTEN_ADDR=0.0.0.0:8008
      - ADVERTISE_ADDR=127.0.0.1:8008
      - DB_TYPE=mongodb
      - MGO_URL=mongodb://127.0.0.1:27017/adbot
      - IGNORE_LICENSE_SIGN=0434e4683086e401f1063c23081a0c637335924718ca4b50d75112b48ee32e3d3c6e64ca911ae5b137211e8d9ee4c0cb0d87c4b1ebf7e40fea235e5c02e6eb014855014b4e722d95adbf225a13bf7af45d4571563c612d9d11bc8607fb86396f33ffe443b9d10ebb1122a3c4327ccb87d49e5e253f72a3f22f4f85bc39cd80172e9cecdd19e7ad66d5948b9936f748c7aee7fc8f2e720d5c03d8ec94b68636d75d63dcbf2943e8deb2e1c7ec55244c30027c0d962e517dfd44932b4065bba46522fd50ebb4d2a904a7a8909567a4501bc89f34c215716d9a1de565a2576c3300ad7d42f9d4c7747f83b8d4887631e5668879f4dc4f10853f2d6cda7338b0cfea
      - IGNORE_LICENSE_HASH=6dd0afbb1692397bd369022b775aca30896b82c3a045c36d3f5cc5daca2799e2
    depends_on:
      - mongodb

  agent:
    image: "bbklab/adbot-agent:latest"
    network_mode: "host"
    restart: "always"
    labels:
      - "role=agent"
    environment:
      - IN_CONTAINER=yes
      - JOIN_ADDRS=127.0.0.1:8008
    depends_on:
      - master
