# adbot master env options
#
# master:
#  - LISTEN_ADDR        The address that API service listens on, eg: :80 (default: ":80")
#  - TLS_CERT_FILE      TLS certificate file over http serving
#  - TLS_KEY_FILE       TLS key file over http serving
#  - ADVERTISE_ADDR     The serving address that advertised to the public, eg: public_domain_address:88
#  - DB_TYPE            The database store type, [mongodb] (default: "mongodb")
#  - MGO_URL            The mongodb url address  (default: "mongodb://127.0.0.1:27017/adbot")
#  - UNIX_SOCK          The unix socket file path (default: "/var/run/adbot/adbot.sock")
#  - PID_FILE           The pid file path (default: "/var/run/adbot/adbot.pid")
#
